<%-include("header")%>
<!--banner-->
<div class="banner-top">
<div class="container">
<h3 >About</h3>
<h4><a href="index.html">Home</a><label>/</label>About</h4>
<div class="clearfix"> </div>
</div>
</div>

<!-- faqs -->
<div class="about-w3 ">


  <!--about-->
  <div class="container">
<div  class="about">
<div class="spec ">
    <h3>About Us</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
  </div>

  <div class="col-md-4 about-right">
  <img class="img-responsive" src="https://s1.1zoom.me/b4556/444/Vegetables_Fruit_Apples_Pepper_Grapes_Peaches_535326_1920x1080.jpg" alt="">

  </div>
  <div class="col-md-4 about-left">
    <p>Our purpose is to provide Online Grocery Shopping solution to consumers and vendors. It will automate some of the basic operations of an online store. Scope would be to provide basic functionalities using a web application so that those manual process can be automated. It will include to provide administration access to vendors and admins and user specific access to customers.  </p>
  </div>
  <div class="col-md-4 about-right">
  <img class="img-responsive" src="https://assets.vogue.in/photos/5ce4249989be3657397cf717/16:9/w_1920,c_limit/Organic-food-movement-in-India.jpg" alt="">
  </div>

  <div class="clearfix"> </div>
</div>
</div>
<!--//about-->

</div>
<!-- // Terms of use -->
<%-include("footer")%>
