<%-include("header")%>
<!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >FAQs</h3>
		<h4><a href="index.html">Home</a><label>/</label>FAQs</h4>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- faqs -->
	<div class="faq-w3 ">
		<div class="container">
			<div class="spec ">
			<h3>Frequently Asked Questions</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
				<div class="panel-group" id="accordion">
				<!-- First Panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							 <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
								 <span>1.</span> What are the delivery charges?
							 </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Minimum Delivery charges are Rs 15 and may differ from place to place and from product to product.</p>
							</div>
						</div>
					</div>

					<!-- Second Panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							 <h4 class="panel-title" data-toggle="collapse"  data-target="#collapseTwo">
								<span>2.</span> How long will my order take to arrive?
							 </h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Your order will get delivered in maximum 24-48 hours. </p>
							</div>
						</div>
					</div>

					<!-- Third Panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							 <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree">
								<span>3.</span> What is the estimated delivery time?
							 </h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Estimated delivery time: 24-48 hours</p>
							</div>
						</div>
					</div>
					<!-- Fourth Panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							 <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour">
								<span>4.</span>Do you ship internationally?
							 </h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<p>No, we are not shipping internationally currently.</p>
							</div>
						</div>
					</div>
					<!-- Fifth Panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							 <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFive">
								<span>5.</span>How do I take advantage of FREE shipping?
							 </h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
								<p>If the order total is more than Rs 2500, then you can avail the free shipping option.</p>
							</div>
						</div>
					</div>
					<!-- Sixth Panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							 <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSix">
								<span>6.</span>Why have I not received my product yet?
							 </h4>
						</div>
						<div id="collapseSix" class="panel-collapse collapse">
							<div class="panel-body">
								<p>The product may be unavailable/out of stock or you may have entered incorrect address.</p>
							</div>
						</div>
					</div>



				</div>
		</div>
	</div>
	<!-- // Terms of use -->
<%-include("footer")%>
